.svg-container {
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-container {
    text-align:center;
    align-content:center;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn-cta {
    background-color: #f9a826;
    color: white;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

.btn-cta:hover {
    background-color: white;
    color: #f9a826;
}

.btn-cta {
    background-color: #f9a826;
    color: white;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

.btn-cta:hover {
    background-color: white;
    color: #f9a826;
}
