$call-to-action-background: #f9a826ff;
$call-to-action-text: #ffffffff;
$default-padding: 1rem;

:export {
    callToActionText: $call-to-action-text;
    callToActionBackground: $call-to-action-background;
    defaultPadding: $default-padding;
}